  {% extends 'base.html' %}
  {% block title %}Task Timer Home{% endblock %}
  
  {% block body %}
  <div class="logo">
    <img src="../static/teal-logo.png" alt="Your Logo">
  </div>
<div class="container homepage">
  
  <div class ="row frame">
    <div class = "col">
      <div class="signin-form">
        <h2> Login</h2>
        <form action="/login" method="POST">
            <p>Email <input type="text" name="email"></p>
            <p>Password <input type="password" name="password"></p>
            <p> <input type="submit"></p>
        </form>
      </div>
    </div>

    <div class ="col dividing-line">
      <div class="forms-container">
        <div class="signup-form">
        <h2>Create an Account</h2>
        <form action="/create_user" method="POST">
            <p>Email <input type="text" name="email"></p>
            <p>Password <input type="text" name="password"></p>
            <p>Username <input type="text" name="username"></p>
            <p>Theme Preference <input type="text" name="theme_preference"></p>
            <p>Work Session Length <input type="text" name="work_session_time"></p>
            <p>Break Session Length <input type="text" name="break_session_time"></p>
            <p><input type="submit"></p>
        </form>
        </div>
      </div>
    </div>

  <!-- user to enters a countdown time in datetime input tag
  <h2>Enter Countdown Time</h2>
  <input type="datetime-local" id="countdown-input">

  dynamically generated countdown element -->
  <!-- <div id="timer"></div> -->

  <!-- <script src="/static/frontend.js"></script> -->
  <script src="{{ url_for('static', filename='frontend.js') }}"></script>
  </div>
</div>
{% endblock %}


<!-- #bring user related functionality to its own "profile" page where users can update preferences -->

