  {% extends 'base.html' %}
  {% block title %}Task Timer Home{% endblock %}
  
  {% block body %}
    <h1>Task Timer</h1>
  
    <h2>Tasks</h2>
    <ul>
      {% for task in tasks %}
        <li>{{ task.name }} 
          <form method="post" action="/delete_task/{{ task.task_id }}">
            <button type="submit">Delete</button>
          </form>
        </li>
      {% endfor %}
    </ul>
  
    <h2>Add Task</h2>
    <form method="post" action="/add_task">
      <label for="task_name">Task Name:</label>
      <input type="text" name="task_name" required>
      <button type="submit">Add Task</button>
    </form>

    <h2>Create an Account</h2>
    <form action="/create_user" method="POST">
        <p>Email <input type="text" name="email"></p>
        <p>Password <input type="text" name="password"></p>
        <p>Username <input type="text" name="username"></p>
        <p>Theme Preference <input type="text" name="theme_preference"></p>
        <p>Work Session Length <input type="text" name="work_session_time"></p>
        <p>Break Session Length <input type="text" name="break_session_time"></p>
        <p><input type="submit"></p>
    </form>

   
    <h2> Login</h2>
    <form action="/login" method="POST">
        <p>Email <input type="text" name="email"></p>
        <p>Password <input type="password" name="password"></p>
        <p> <input type="submit"></p>
    </form>

    <!-- Display the countdown timer in an element -->
    <h2>Countdown Timer</h2>

    <!-- Display the countdown timer in an element -->
    <p id="timer"></p>

    <!-- Include the JavaScript file -->
    <script src="{{ url_for('static', filename='frontend.js') }}"></script>
    <!-- <script src="/static/frontend.js"></script> -->

{% endblock %}

<!-- #bring user related functionality to its own "profile" page where users can update preferences -->