{% extends 'base.html' %}
  {% block title %}Task Timer Home{% endblock %}
  
  {% block body %}

<h2>Countdown Timer</h2>
<div id="countdown-timer">00:00</div>
<button id="start-timer-btn">Start Timer</button>
<button id="stop-timer-btn">Stop Timer</button>

<button id="work-session-btn">Work Session</button>
<button id="break-session-btn">Break Session</button>

<h2>Tasks</h2>
<div class="tasks-container">
  {% for task in tasks %}
    <div class="task-card">
      <strong>Task Name:</strong> {{ task.task_name }} <br>
      <strong>Task Description:</strong> {{ task.task_description }} <br>
      <strong>Timer Duration:</strong> {{ task.duration }} seconds <br>
      <form method="post" action="/delete_task/{{ task.task_id }}">
        <button type="submit">Delete</button>
      </form>
      <button class="start-task-btn" data-task-id="{{ task.task_id }}">Start Task</button>
      <button class="stop-task-btn" data-task-id="{{ task.task_id }}">Stop Task</button>
    </div>
  {% endfor %}
</div>


<h2>Add Task</h2>
<form method="post" id="add_task_form">

    <label for="task_name">Task Name:</label>
    <input type="text" name="task_name" id="name_input" required>

    <label for="task_description">Task Description</label>
    <input type="text" name="task_description" id="description_input" required>

    <label for="timer_type">Timer Type</label>
    <input type="text" name="timer_type" id="type_input" required>

    <!-- make sure task_duration is in db -->
    <label for="duration">Task Duration</label>
    <input type="number" name="duration" id="duration_input" required>

    <button type="submit">Add Task</button>
</form>

  <h1>User Profile</h1>
  <!-- planning to style in css later -->
  <div class="profile-info">
      <form action="/update_profile" method="POST">
          <label for="theme_preference">Theme Preference:</label>
          <input type="text" name="theme_preference" value="{{ user.theme_preference }}"><br>
  
          <label for="work_session_time">Work Time Interval (minutes):</label>
          <input type="number" name="work_session_time" value="{{ user.work_session_time }}"><br>
  
          <label for="break_session_time">Break Time Interval (minutes):</label>
          <input type="number" name="break_session_time" value="{{ user.break_session_time }}"><br>
  
          <label for="password">New Password:</label>
          <input type="password" name="password"><br>
  
          <input type="submit" value="Update Profile">
      </form>
  </div>
    
<h2>Log Out</h2>
<!-- Needs a button with an event listener or a form with a submit  -->
<form action="/logout" method="POST">
    <label for="logout">Logout?</label>
    <input type="submit" value="Logout?">
</form>
   
<p><a href="/">Back to Homepage</a></p>

<script src="/static/profile.js"></script>
{% endblock %}
