{% extends 'base.html' %}
  {% block title %}Task Timer Home{% endblock %}
  
  {% block body %}

<h1>User Profile</h1>
<!-- planning to style in css later -->
<div class="profile-info">
    <form action="/update_profile" method="POST">
        <label for="theme_preference">Theme Preference:</label>
        <input type="text" name="theme_preference" value="{{ user.theme_preference }}"><br>

        <label for="work_session_time">Work Time Interval (minutes):</label>
        <input type="number" name="work_session_time" value="{{ user.work_session_time }}"><br>

        <label for="break_session_time">Break Time Interval (minutes):</label>
        <input type="number" name="break_session_time" value="{{ user.break_session_time }}"><br>

        <label for="password">New Password:</label>
        <input type="password" name="password"><br>

        <input type="submit" value="Update Profile">
    </form>
</div>

<div class="tasks-list">
        <h2>Saved Task List</h2>
        <ul>
            {% for task in user.tasks %}
            <!-- display every item in saved task list -->
                <li>{{ task.task_name }} - {{ task.timer_type }} ({{ task.duration }} seconds)</li>
            {% endfor %}
        </ul>
    </div>
    
<h2>Log Out</h2>
<!-- Needs a button with an event listener or a form with a submit  -->
<form action="/logout" method="POST">
    <label for="logout">Logout?</label>
    <input type="submit" value="Logout?">
</form>
   
<p><a href="/">Back to Homepage</a></p>
    
{% endblock %}